@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Noto+Sans:wght@400;700&family=Open+Sans&family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,700&family=Roboto:wght@100;300;400;500;700&family=Space+Grotesk:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #303139;
}

nav {
    height: 100vh;
    width: 261px;
    position: fixed;
    top: 0;
    left: 0;
    background: #202123;
    color: white;
    text-align: center;
}

.new {
    border: 2px solid #444654;
    width: 244px;
    height: 45px;
    text-align: left;
    padding-left: 1rem;
    background-color: #202123;
    color: white;
    font-size: 13.5px;
    margin-top: 1rem;
    cursor: pointer;
}

.hist{
    width: 244px;
    height: 45px;
    background-color: #343540;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 6px;
    cursor: pointer;
}

.hist p{
    margin-left: 1rem;
    margin-right: 1rem;
}

nav li {
    text-decoration: none;
    list-style: none;
}

.final {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 43rem;
}

.final ul {
    padding-left: 1rem;
    justify-content: center;
    align-items: center;

}

.fim {
    display: flex;
    text-align: left;
    font-size: 13.5px;
    height: 25px;
    padding-top: 0.1rem;
}

.fim p {
    margin-left: 1rem;
}

.right {
    width: calc(100vw - 261px);
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 261px;
    color: white;
    text-align: center;
    font-size: 15px;
}

.part1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.part1 img {
    width: 35px;
    height: 35px;
    border-radius: 2px;
}


.part2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 162px;
    background-color: #444654;
}

.ava {
    width: 35px;
    height: 35px;
    border-radius: 2px;
    transform: translate(1rem, -1.6rem);
}

.part2 p {
    width: 628px;
    height: 108px;
    transform: translate(-1.5rem, 1rem);
    text-align: left;
}

.feed {
    transform: translate(-3.5rem, -2rem);
    width: 42px;
    height: 15px;
}

.reg {
    width: 184px;
    height: 37px;
    border-radius: 3px;
    border: 2px solid #444654;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transform: translate(18rem, 23rem);
    font-size: 13px;
}

.reg img {
    margin-right: 1rem;
}

.inp input {
    border: 2px solid #303139;
    width: 820px;
    height: 48px;
    background-color: #40414E;
    margin-top: 15rem;
    padding: 1rem;
    padding-right: 3rem;
    font-size: large;
    color: black;

}

.inp img {

    width: 25px;
    height: 25px;
    position: relative;
    right: 2.5rem;
    top: 0.4rem;
}

.p-final {
    height: 26px;
    font-size: 12px;
    color: #9A9B9F;
    margin-top: 01rem;
}